
<div #rendererContainer id="rendererContainer"></div>
<!-- 
// const geometry1 = new THREE.BoxGeometry(70, 70, 70);
    // const material1 = new THREE.MeshBasicMaterial({color: 0xffffff, wireframe: true});
    // this.mesh1 = new THREE.Mesh(geometry1, material1);

    // this.mesh1.position.x = 540;
    // this.mesh1.position.y = 510;

    // this.scene.add(this.mesh1);

    // var from = new THREE.Vector3( 300, 429, 300 );
    // var to = new THREE.Vector3( 350, 600, 20 );
    // var direction = to.clone().sub(from);
    // var length = direction.length();
    // this.arrowHelper = new THREE.ArrowHelper(direction.normalize(), from, length, 0xffffff );
    // this.arrowHelper.position.x = 400;
    // this.arrowHelper.position.y = 427;
    // this.scene.add( this.arrowHelper );

    // var from = new THREE.Vector3( 100, 100, 100 );
    // var to = new THREE.Vector3( 154, 50, 20 );
    // var direction = to.clone().sub(from);
    // var length = direction.length();
    // var arrowHelper1 = new THREE.ArrowHelper(direction.normalize(), from, length, 0xffffff );
    // arrowHelper1.position.x = 600;
    // arrowHelper1.position.y = 500;
    // this.scene.add( arrowHelper1 );

   // const domEvents = new THREEx.DomEvents(this.camera, this.renderer.domElement)

  //  document.getElementById("rendererContainer").addEventListener(this.mesh, 'mousemove', event => {
  //             this.mesh.scale.y += 0.2
  //             this.mesh.scale.x += 0.2
  //           }) -->